<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684970788591-b41rfoaomj6geun5o0g6i3d5rppknf9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684970788591-b41rfoaomj6geun5o0g6i3d5rppknf9u</string>
	<key>API_KEY</key>
	<string>AIzaSyDw1SsePYxxP2APw2TXsvcMPx0_eAc0Zvs</string>
	<key>GCM_SENDER_ID</key>
	<string>684970788591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abrain.asl.asl</string>
	<key>PROJECT_ID</key>
	<string>a-292e9</string>
	<key>STORAGE_BUCKET</key>
	<string>a-292e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684970788591:ios:046c53a7f39e95ae323d1a</string>
</dict>
</plist>