name: Deploy Website

on:
  push:
    paths:
      - "**"
      - ".github/**"

jobs:
  hosting:
    name: Deploy Website
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.24.3

      - name: Build Website
        run: |
          flutter config --enable-web
          flutter pub get
          flutter build web --release

      - name: Deploy Firebase Hosting
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting:a-292e9
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
